---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from 'astro:assets';

import vcardQrImg from '../assets/images/vcard-qr.png';
import barCodeImage from '../assets/images/barcode.svg';
import heroImage from '../assets/images/hero3.jpeg';
import IconList from "../components/label/IconList.astro";
import ContentList from "../components/label/ContentList.astro";
import Marquee from "../components/Marquee.astro";
import LeafletMap from "../components/islands/LeafletMap.tsx";
import locationHistory from "../assets/location-history.json";
import allCountries from "../assets/all-countries.json";
import type { LocationData, LocationHistoryRecord } from "../types";
import { getPosts, postsToContentList } from "../utils/posts";

type LocationCounts = Record<string, { cciso: string; count: number; last: number}>

const MAX_POSTS = 5;
const allPosts = getPosts();
const contentItems = postsToContentList(allPosts.slice(0, MAX_POSTS));
const numPosts = allPosts.length;

const locationCounts: LocationCounts = (locationHistory as LocationHistoryRecord[]).reduce((acc, trip) => {
    if (!(trip.cciso in acc)) acc[trip.cciso] = { cciso: trip.cciso, count: 0, last: 0 }
    acc[trip.cciso].count++;
    acc[trip.cciso].last = Math.max(acc[trip.cciso].last, (new Date(trip.date)).getTime());
    return acc;
}, {});
const locationsContent = Object.values(locationCounts)
    .sort((a, b) => b.count > a.count ? 1 : -1)
    .map(rec => {
        const isoKey = rec.cciso.toLowerCase();
        const name = (isoKey in allCountries) ? allCountries[isoKey].name : rec.cciso;
        return { ...rec, name, last: new Date(rec.last)};
    })
;

const response = await fetch('https://triblondon-tribtvlocationmeta.web.val.run/trib-tv');
const locationData:LocationData = await response.json();

---

<BaseLayout showHeader={false}>
    <style>
        section.hero {
            position: relative;
            aspect-ratio: 16/9;
            color: white;
            box-shadow: 0 0 40px 20px var(--color-bg) inset;
            h1 {
                position: absolute;
                left: 10%;
                top: 16%;
                font-size: min(5vw, 3.5em);
                font-family: "Geo";
                font-weight: 500;
                border-left: 1px dotted white;
                margin: 0;
                padding-left: 0.5em;
                img {
                    width: min(20vw, 225px);
                    height: min(5vw, 61px);
                }
            }
            > img, .vignette {
                position: absolute;
                width: 100%;
                height: 100%;
            }
            > img {
                object-fit: cover;
                object-position: top;
            }
            .vignette {
                box-shadow: 0 0 40px 20px var(--color-bg) inset;
            }
        }

        .hero-labels {
            list-style-type: none;
        }
        .hero-labels > .label {
            --color-label-bg: black;
            --color-label-fg: white;
            position: absolute;
            font-size: 0.8em;
            display: grid;
            grid-template-columns: auto;
            width: auto;
            .descr {
                text-transform: uppercase;
            }
            .fig dt {
                font-family: "Geo";
                letter-spacing: 0.5px;
                text-decoration: underline;
                text-decoration-thickness: 1px;
                font-size: 0.6em;
            }
        }
        @media (max-width: 700px) {
            .hero-labels {
                display: none;
            }
        }

        .about-label {
            display: grid;
            grid-template-columns: min-content auto;
            grid-template-rows: auto min-content auto;
            grid-template-areas:
                "divider divider"
                "qr info-head"
                "qr info"
                "data data"
                "map map";
            .qr {
                grid-area: qr;
                text-align: center;
                img {
                    margin: auto;
                    width: 150px;
                    padding: 10px;
                    height: auto;
                }
            }
            .info-head {
                grid-area: info-head;
            }
            .info {
                grid-area: info;
            }
            .map {
                grid-area: map;
                height: 450px;
                .leaflet-container {
                    height: 100%;
                }
            }
            .data {
                grid-area: data;
            }
            .divider-diagonal {
                grid-area: divider;
            }
        }

        .social {
            padding: 11px;
            background: repeating-linear-gradient(
                110deg,
                #ffffff,
                #ffffff 2px,
                #000000 3px,
                #000000 4px
            );
        }
    </style>

    <section class="hero">
        <Image src={heroImage} alt="" loading="eager" />
        <div class="vignette">
        <h1>
            <Image
                src={barCodeImage}
                alt="My phone number as a Code-128 barcode"
                title="If you can scan this, you can call me"
            />
            <div class="name">Andrew Betts</div>
        </h1>
        <ol class="hero-labels">
            <li class="label" style="top: 76%; right: 83%">
                <span class="descr">Mixes drinks</span>
                <dl class="label kv-horizontal fig">
                    <div><dt>Fig I</dt><dd>Manhattan</dd></div>
                </dl>
            </li>
            <li class="label" style="top: 56%; left: 23%">
                <span class="descr">Wears hats</span>
                <dl class="label kv-horizontal fig">
                    <div><dt>Fig II</dt><dd>Fedora</dd></div>
                </dl>
            </li>
            <li class="label" style="top: 68%; left: 38%;">
                <span class="descr">Writes code</span>
                <dl class="label kv-horizontal fig">
                    <div><dt>Fig III</dt><dd>Laptop</dd></div>
                </dl>
            </li>
            <li class="label" style="top: 6%; right: 15%;">
                <span class="descr">Knows things</span>
                <dl class="label kv-horizontal fig">
                    <div><dt>Fig IV</dt><dd>Experience</dd></div>
                </dl>
            </li>
        </ol>
    </section>

    <section class="label about-label label-edge-top">
        <div class="divider-diagonal"></div>
        <div class="qr">
            <Image
                src={vcardQrImg}
                title="Scan to add me to your contacts"
                alt="QR code of my VCARD"
            />
        </div>
        <div class="info-head padded"><h2>About</h2></div>
        <div class="info content">
            <p>
                I like making things, standards, open source, and helping people
                solve problems.<br />Read more about my career and experience in
                my <a href="/cv">resume</a>.<br />Scan the QR code for my
                contact card!
            </p>
        </div>
        <dl class="label kv-horizontal data">
            <div><dt>Origin</dt><dd>GB</dd></div>
            <div><dt>Current location</dt><dd>{locationData.countryIso}</dd></div>
            <div><dt>Local time</dt><dd id="local-time" data-utc-offset={locationData.tz.utcOffset}></dd></div>
            <div><dt>Time zone</dt><dd>{locationData.tz.name}</dd></div>
        </dl>
        <div class="map"><LeafletMap client:only="react" center={[locationData.pos.lat, locationData.pos.lng]} zoom={6} /></div>
    </section>

    <!-- https://github.com/tony-xlh/MRZ-dataset/tree/gh-pages/benchmark/dataset/Passports -->
    <Marquee duration="120s" direction="left" title="The passport Machine-readable zone (MRZ) has been speeding up travel through international borders since the 1980s!">
        &lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;OF7OBGJ686BLR6606161F3305061&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;04P&lt;GBRBETTS&lt;&lt;ANDREW&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;LQAMTJFS04GBR3512089F3209295&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;04
    </Marquee>

    <section class="social">
        <IconList items={[
            { icon: "google-maps", title: "Google Maps", href: 'https://www.google.com/maps/contrib/109173169886918387030' },
            { icon: "linkedin", title: "LinkedIn", href: 'https://www.linkedin.com/in/andrewbetts/' },
            { icon: "line", title: "LINE", href: 'https://line.me/ti/p/TOy3w-bGPR' },
            { icon: "bluesky", title: "BlueSky", href: 'https://bsky.app/profile/triblondon.trib.tv' },
            { icon: "github", title: "GitHub", href: 'https://github.com/triblondon' },
            { icon: "instagram", title: "Instagram", href: 'https://www.instagram.com/triblondon' },
        ]} />
    </section>

    <!-- https://github.com/tony-xlh/MRZ-dataset/tree/gh-pages/benchmark/dataset/Passports -->
    <Marquee duration="120s" direction='right' title="The passport Machine-readable zone (MRZ) has been speeding up travel through international borders since the 1980s!">
        P&lt;GBRBETTS&lt;&lt;ANDREW&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;LQAMTJFS04GBR3512089F3209295&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;04P&lt;BLRBETTS&lt;&lt;ANDREW&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;OF7OBGJ686BLR6606161F3305061&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;04
    </Marquee>

    <section class="label vertical-stack">
        <div class="padded">
            <h2>Recent posts</h2>
        </div>
        <ContentList items={contentItems} startOffset={numPosts-contentItems.length} />
        <div class="padded" style="text-align: center">
            <a href="/posts">More posts</a>
        </div>
    </section>

    <!-- https://www.iban.com/structure -->
    <Marquee duration="120s" title="IBAN numbers allow transfers of money between accounts in different countries with a single identifier!">
        MU43BOMM0101123456789101000MUR&gt;KW81CBKU0000000000001234560101&gt;&gt;&gt;AL35202111090000000001234567&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;ES7921000813610123456789&gt;&gt;GB33BUKB20201555555555&gt;&gt;&gt;FR7630006000011234567890189
    </Marquee>

    <section class="label vertical-stack">
        <div class="padded">
            <h2>Where I've been</h2>
        </div>
        <table class="label">
            <thead
                ><tr>
                    <th>ISO</th>
                    <th>Conventional short name</th>
                    <th>Number of visits</th>
                    <th>Last visit</th>
                </tr></thead
            >
            <tbody>
                {locationsContent.map(rec => (
                    <tr><td>{rec.cciso}</td><td>{rec.name}</td><td>{rec.count}</td><td>{rec.last.getFullYear()}</td></tr>
                ))}
            </tbody>
        </table>
        <div class="padded" style="text-align: center">
            <p>
                Current and historical location data powered by <a
                    href="https://home-assistant.io/">Home Assistant</a
                >. Location updates lag real time by 8 hours.
            </p>
        </div>
    </section>

    <script>
        const updateTime = () => {
            const el = document.getElementById('local-time');
            const utcOffset = Number.parseInt(el.dataset.utcOffset);
            const clientLocalTime = new Date();
            const utcTime = clientLocalTime.getTime() + (clientLocalTime.getTimezoneOffset() * 60000);
            const andrewLocalTime = new Date(utcTime + (utcOffset * 60000));
            const andrewLocalTimeStr = String(andrewLocalTime.getHours()).padStart(2, '0') + ':' + String(andrewLocalTime.getMinutes()).padStart(2, '0');
            el.innerText = andrewLocalTimeStr;
        }
        setInterval(updateTime, 10000);
        updateTime();
    </script>
</BaseLayout>
