---
import IconList from "../components/label/IconList.astro";
import BaseLayout from "./BaseLayout.astro";

import "./PostLayout.css";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>

    <section class="label label-post label-edge-top">
        <div class="post-title padded">
            <h2>{frontmatter.title}</h2>
        </div>
        <div class="post-standfirst padded">
            <p>{frontmatter.description}</p>
        </div>
        <div class="divider"></div>
        <div class="label post-meta">
            <dl class="label kv-vertical">
                <dt>Date</dt>
                <dd>{frontmatter.pubDate.toString().slice(0, 10)}</dd>
                <dt>Tags</dt>
                <dd>
                    {frontmatter.tags.map((tagStr) => <div>{tagStr}</div>)}
                </dd>
                <dt>Length</dt>
                <dd>{frontmatter.readingTime.wordsFormatted} words</dd>
                <dt>Reading time</dt>
                <dd>{frontmatter.readingTime.text}</dd>
            </dl>
            <IconList items={[
                { icon: "linkedin", href: 'https://www.linkedin.com/sharing/share-offsite/?url=' + Astro.url.toString() },
                { icon: "bluesky", href: 'https://bsky.app/intent/compose?text=' + Astro.url.toString() },
                { icon: "instagram" },
            ]} />
        </div>
        <div class="post-body padded">
            <slot />
        </div>
        <div class="post-foot padded">
            I don't have comments enabled on this blog, but if you want to
            respond feel free to send me a tweet!.
        </div>
    </section>
</BaseLayout>
