---
import IconList from "../components/label/IconList.astro";
import BaseLayout from "./BaseLayout.astro";
import type { PostMetadata } from "../types";

interface Props {
    frontmatter: PostMetadata;
}

const { frontmatter } = Astro.props;
---

<style>
.label.label-post {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 1px;
    .divider-straight {
        height: 12px;
    }
    .post-standfirst {
        font-size: 20px;
    }
}
@media (min-width: 700px) {
    .label.label-post {
        grid-template-columns: minmax(min-content, 30%) auto;
        grid-template-areas:
            "pre-divider pre-divider"
            "title title"
            "standfirst standfirst"
            "divider divider"
            "meta body"
            "meta foot";
        .divider {
            grid-area: divider;
            height: 12px;
            background-image: var(--bg-mash-background-image);
            background-position: var(--bg-mash-background-position);
            background-size: var(--bg-mash-background-size);
        }
        .post-title {
            grid-area: title;
        }
        .post-standfirst {
            grid-area: standfirst;
        }
        .post-meta {
            grid-area: meta;
        }
        .post-body {
            grid-area: body;
        }
        .post-foot {
            grid-area: foot;
        }
    }
}
</style>

<BaseLayout pageTitle={frontmatter.title}>

    <section class="label label-post label-edge-top">
        <div class="post-title padded">
            <h2>{frontmatter.title}</h2>
        </div>
        <div class="post-standfirst padded">
            <p>{frontmatter.description}</p>
        </div>
        <div class="divider"></div>
        <div class="label post-meta">
            <dl class="label kv-vertical">
                {frontmatter.pubDate && (
                    <dt>Date</dt>
                    <dd>{frontmatter.pubDate.toString().slice(0, 10)}</dd>
                )}
                {frontmatter.tags && frontmatter.tags.length > 0 && (
                    <dt>Tags</dt>
                    <dd>
                        {frontmatter.tags.map((tagStr) => <a href={`/topics/${tagStr.toLowerCase()}`}>{tagStr}</a><br />)}
                    </dd>
                )}
                <dt>Length</dt>
                <dd>{frontmatter.readingTime.wordsFormatted} words</dd>
                <dt>Reading time</dt>
                <dd>{frontmatter.readingTime.text}</dd>
            </dl>
            <IconList items={[
                { icon: "linkedin", href: 'https://www.linkedin.com/shareArticle?mini=true&url=' + Astro.url.toString() },
                { icon: "bluesky", href: 'https://bsky.app/intent/compose?text=' + Astro.url.toString() },
                { icon: "instagram", href: 'https://www.instagram.com/?url=' +  Astro.url.toString() },
                { icon: "reddit", href: 'https://www.reddit.com/submit?url=' +  Astro.url.toString() },
            ]} />
        </div>
        <div class="post-body rich-text padded">
            <slot />
        </div>
        <div class="post-foot padded">
            I don't have comments enabled on this blog, but if you want to
            respond feel free to @ me on <a href="https://bsky.app/profile/triblondon.trib.tv">BlueSky</a>, <a href="https://www.linkedin.com/in/andrewbetts/">LinkedIn</a> or <a href="https://www.threads.net/@triblondon">Threads</a>.
        </div>
    </section>
</BaseLayout>
